#!/usr/bin/make -f

DH_VERBOSE=1

# Set local state dir for FHS
LOCAL_CONFIGURE_FLAGS = --localstatedir=/var/lib

# Disable jemalloc for architectures that lack *_2POW definitions
ifneq (,$(findstring :$(DEB_HOST_ARCH_CPU):,:hppa:s390:sparc:m68k:))
LOCAL_CONFIGURE_FLAGS += --disable-jemalloc
endif

%:
	dh $@

# Override to add local configure flags
override_dh_auto_configure:
	dh_auto_configure -- $(LOCAL_CONFIGURE_FLAGS)

# Override to rewrite default.vcl
override_dh_auto_install:
	dh_auto_install -a
	sed -i '/backend default {/,/}/ s/^#[[:space:]]//'  \
		$(CURDIR)/debian/tmp/etc/varnish/default.vcl

# Override to add the "reload-vcl" script
override_dh_install:
	dh_install -a
	install -o root -g root -m 755 \
		$(CURDIR)/debian/reload-vcl \
		$(CURDIR)/debian/varnish/usr/share/varnish/reload-vcl

# Override 
override_dh_installinit:
	dh_installinit -a
	dh_installinit --name=varnishlog
	dh_installinit --name=varnishncsa
